<div class="container">
    <!-- Formulário para buscar convidado -->
    <!-- Exibição de informações de múltiplos convidados -->
    <div *ngIf="groupedConvidados | keyvalue" class="resultado">
        <h2>Convidados Confirmados:</h2>
        <div *ngFor="let convidado of convidados; let idx = index" class="convidado">
                <p><strong>Convidado #{{ idx + 1 }}</strong></p>
                <p><strong>Nome:</strong> {{ convidado.nome }}</p>
                <p><strong>Confirmado:</strong> {{ convidado.statusConfirmacao }}</p>
        </div>
    </div>

    <!-- Exibição de erro -->
    <div *ngIf="erro" class="alert alert-danger">
        {{ erro }}
    </div>
</div>