<hr>
<footer class="footer">
  <div class="row">
    <div class="col-sm-6">
      <div class="d-flex justify-content-start mb-2">
        <div class="me-4 ms-4"><a href="#">Termos</a></div>
        <div class="me-4"><a href="#">Privacidade</a></div>
        <div class="me-4"><a href="#">FAQ</a></div>
      </div>
      <div>
        <h4 class="ms-4 pt-4">EVENTO MEU</h4>
        <address class="ms-4 pt-2">
          Rua Exemplo, 123<br>
          Centro, Cidade - UF<br>
          CEP 00000-000
        </address>
        <a class="ms-4 mt-1 d-inline-block" href="mailto:contato@eventomeu.com">contato@eventomeu.com</a>
      </div>
    </div>
    <div class="col-sm-6 mt-5">
      <div class="d-flex flex-column align-items-center justify-content-end">
        <h4>Descobrir</h4>
        <div><a href="#">Home</a></div>
        <div><a href="#">Sobre</a></div>
        <div><a href="#">Planos</a></div>
        <div><a href="#">Serviços</a></div>
        <div><a href="#">Contato</a></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-4">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <p>Evento Meu &copy; 2024. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</footer>