<header class="header">
  <nav class="navbar">
    <div class="logo">
      <img [src]="isDarkTheme ? 'assets/images/Prancheta 6-8-menor.png' : 'assets/images/Prancheta 2-8-menor.png'" alt="Logo">
    </div>
    <div class="nav-links">
      <a (click)="navigateTo('')" style="cursor: pointer;">Home</a>
      <a (click)="navigateTo('about')" style="cursor: pointer;">Sobre</a>
      <a (click)="navigateTo('plans')" style="cursor: pointer;">Planos</a>
      <a (click)="navigateTo('services')" style="cursor: pointer;">Serviços</a>
      <a (click)="navigateTo('contact')" style="cursor: pointer;">Contato</a>
    </div>
    <div class="nav-right">
      <div class="theme-toggle">
        <button (click)="toggleTheme()">
          <i class="fas" [class.fa-sun]="!isDarkTheme" [class.fa-moon]="isDarkTheme"></i>
        </button>
      </div>
      <a (click)="navigateTo('login')" class="login-btn" style="cursor: pointer;">Login</a>
    </div>
  </nav>
</header>