<div class="elemento-com-borda">
    <div class="container">
        <h1>Nossa Lista de Presentes</h1>
        <p>Para nós, <strong>Daisy</strong> e <strong>Arthur</strong>, este casamento é uma celebração do nosso amor e da nossa jornada juntos. Embora já sejamos casados no civil, este momento é ainda mais especial, pois estamos agora nos unindo perante <strong>Deus</strong>, que abençoa nossas vidas todos os dias.
        <p>Este casamento é um sonho prestes a ser realizado, onde celebramos a nossa união, com o desejo de receber as bênçãos de <strong>Deus</strong>, que estará conosco em cada passo da nossa caminhada, como já está diariamente. Queremos que todos compartilhem essa alegria conosco, acompanhando este novo capítulo de nossas vidas.</p>
        <p>Como já estamos casados e iniciaremos, em breve, a construção do nosso lar, decidimos optar por uma lista de presentes diferente. Ao invés de presentes tradicionais, gostaríamos de pedir uma ajuda especial para a realização do nosso sonho de construir a casa onde viveremos juntos, com muito amor e alegria.</p>   
        <p>Pensamos em cotas que representarão materiais que utilizaremos na obra da nossa casa. Cada contribuição será muito bem-vinda e fará toda a diferença na concretização desse sonho. As cotas são:</p>
            <ul>
                <li>1 milheiro de tijolos   - R$ 1500,00</li>
                <li>10 m2 de procelanato    - R$ 1000,00</li>
                <li>20 kg de Arame recozido - R$ 700,00</li>
                <li>1/2 milheiro de tijolos - R$ 500,00</li>
                <li>10 sacos de cimento     - R$ 400,00</li>
                <li>1 m3 de concreto        - R$ 300,00</li>
                <li>10 sacos de argamassa   - R$ 200,00</li>
                <li>10 metros de caibro     - R$ 160,00</li>
                <li>10 vergalhões           - R$ 130,00</li>
            </ul>
            <p>Para nos presentear, você pode abrir o aplicativo do seu banco, selecionar a opção PIX, escolher a opção de "qrcode" e apontar a câmera do seu celular para o QR Code abaixo , inserir o valor dentre as opções acima, confirmar o pix e pronto, você nos ajudou (e muito!)</p>
            <p>Agradecemos imensamente pelo carinho e por fazerem parte dessa celebração tão importante para nós.</p>
        <p>Com amor,</p>
        <p><strong>Daisy</strong> e <strong>Arthur</strong></p>
    </div>
</div>
