<div class="container">
    <div class="hero-image">
        <img src="../../../assets/images/foto-familia.jpg" alt="Imagem Responsiva">
    </div>              
    <h1>Daisy & Arthur</h1>
    <p>Queridos familiares e amigos,</p>
    <br>
    <p>Após 18 anos de relacionamento, resolvemos dar um passo muito importante nas nossas vidas: buscar a nossa união perante <strong>Deus</strong> visando receber o sacramento do matrimônio.</p>
    <br>
    <p>Sempre sonhamos em comemorar esse dia com nossos familiares e amigos queridos, pois sabemos que nossa felicidade também é a de vocês. Para isto, preparamos tudo com muito amor e carinho, nos mínimos detalhes, para que este dia seja especial e inesquecível. Queremos que vocês aproveitem bastante todos os momentos.</p>
    <br>
    <p>Com amor,</p>
    <br>
    <p><strong>Daisy</strong> e <strong>Arthur</strong></p>
</div>