#container {
    max-width: 80%;
    height: 350px;
}

#container:nth-child(odd) {
    grid-column: 1;
}

#container:nth-child(even) {
    margin-top: 500px;
    grid-column: 2;
}

.steps-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.glide {
    max-width: 90%;
    overflow: hidden;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.glide__slides {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    list-style: '';
}

.glide__slide img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 20px;
}

@media (min-width: 500px) {
    .glide__slide img {
        max-width: 90%;
    }
}

@media (min-width: 900px) {
    .glide__slide img {
        max-width: 91%;
    }
}

@media (min-width: 1600px) {
    .glide__slide img {
        max-width: 88%;
    }
}