@import '../../styles/shared.scss';

:host {
  font-family: 'Montserrat', sans-serif !important;
}

.container {
  margin-top: 5rem;

  & h1 {
    color: var(--text-color);
    font-size: 2.2rem;
    font-weight: 700;
  }

  & h3 {
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
  }
}

.card {
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 390px;
  color: var(--text-color);
  
  &:hover {
    transform: translateY(-5px);
  }

  .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.badge {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.display-4 {
  font-weight: 600;
  white-space: nowrap;
}

.btn {
  padding: 0.75rem 2rem;
  font-weight: 500;
}

.list-unstyled {
  li {
    display: flex;
    align-items: center;
    
    i {
      font-size: 1.1rem;
    }
  }
}

/* Adiciona margem automática para empurrar o botão para baixo */
.card-body {
  .list-unstyled {
    flex-grow: 1;
  }
  
  .text-center.mt-4 {
    margin-top: auto !important;
    padding-top: 1.5rem;
  }
}

.pricing-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .pricing-row {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .pricing-row {
    grid-template-columns: 1fr;
  }
}

.pricing-info-card {
  grid-column: 1 / -1;
} 