<div class="container">
    <div class="menu">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/lista-presentes">Lista de Presentes</a></li>
            <li><a href="https://www.google.com/maps/place/Paróquia+Santíssima+Trindade/@-7.2346918,-35.8748966,17z/data=!3m1!4b1!4m6!3m5!1s0x7ac1fadddb7ed59:0xa5fefb0b6f405d8c!8m2!3d-7.2346918!4d-35.8748966!16s%2Fg%2F1thx8v4l?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D" target="_blank">Igreja</a></li>
            <li><a href="https://www.google.com/maps/place/FASZ+-+Gastronomia+Artesanal/@-7.1954658,-35.866136,17z/data=!3m1!4b1!4m6!3m5!1s0x7ac1f55527cd555:0x7e03f3d7ed4e7ddb!8m2!3d-7.1954711!4d-35.8635611!16s%2Fg%2F11jzxxrc2f?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D" target="_blank">Restaurante</a></li>
        </ul>
    </div>        
</div>
