.container {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    background: #f24b9983;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f077b083;
    border-radius: 8px;
    padding: 10px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 23px;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Exibe os itens em linha */
    gap: 20px; /* Espaçamento entre os itens */
}

.menu li {
    position: relative;
}

.menu li:not(:last-child)::after {
    content: ' • '; /* Altere para '-' se preferir */
    color: #D90718; /* Cor do separador */
    font-weight: bold;
    margin-left: 10px; /* Espaçamento do separador */
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: #D90718;
}

.menu a:hover {
    color: #8c040f;
}

@media (max-width: 768px) {
    .menu {
        font-size: 16px; /* Fonte menor para tablets e celulares */
    }
}

@media (max-width: 480px) {
    .menu {
        font-size: 10px; /* Fonte ainda menor para telas muito pequenas */
    }
}