<div class="elemento-com-borda">
    <div class="container">
        <h2>Confirmação de Presença</h2>
      
        <div *ngFor="let convidado of convidados; let i = index" class="convidado">
          <h3>{{ convidado.nome }}</h3>
      
          <label class="custom-checkbox">
            <input type="checkbox" [(ngModel)]="convidado.statusConfirmacao" id="checkbox"/>
            <span></span>Confirmar
          </label>
      
          <!-- Dropdown para mulheres adultas -->
          <div *ngIf="convidado.sexo === 'feminino' && convidado.adulto">
            <label for="tamanhoSandalia-{{ i }}">Escolha o tamanho da sandália:</label>
            <select
              id="tamanhoSandalia-{{ i }}"
              class="custom-select"
              [(ngModel)]="convidado.tamanhoSandalia"
              required
            >
              <option *ngFor="let numero of tamanhosSandalia" [value]="numero" class="custom-option">
                {{ numero }}
              </option>
            </select>
          </div>
        </div>
      
        <button (click)="confirmarPresenca()" class="btn btn-primary">Confirmar Presença</button>
        <div *ngIf="erro" class="alert alert-danger">
          {{ erro }}
        </div>
    </div>
</div>
  